node_modules/
dist/
.env
.env.sample

# Local Netlify folder
.netlify
# Secrets & local-only config
config/*
!config/placeholders.json
google-sa.json 
# Environment & build artifacts
.env
node_modules/
dist/
config/google-sa.json
